@model EntityLayer.Concrete.Product;
@{
    ViewData["Title"] = "UpdateProdcut";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mt-3">
    <h1>Ürün Güncelleme Sayfası</h1>
</div>
@using (Html.BeginForm("UpdateProdcut", "Product", FormMethod.Post))
{
    <div class="mt-3">
        <label>Id:</label>
        @Html.TextBoxFor(x=>x.Id, new{@class="form-control", @readonly="readonly"})
    </div>
    <div class="mt-3">
        <label>Adı:</label>
        @Html.TextBoxFor(x=>x.Name, new{@class="form-control"})
        <div style="color:red">
            @Html.ValidationMessageFor(x=>x.Name)
        </div>
        
    </div>
    <div class="mt-3">
        <label>Fiyat:</label>
        @Html.TextBoxFor(x=>x.Price, new{@class="form-control"})
        <div style="color:red">
            @Html.ValidationMessageFor(x=>x.Price)
        </div>
        
    </div>
    <div class="mt-3">
        <label>Stok:</label>
        @Html.TextBoxFor(x=>x.Stock, new{@class="form-control"})
        <div style="color:red">
            @Html.ValidationMessageFor(x=>x.Price)
        </div>
    </div>
    <div class="mt-3">
        <button class="btn btn-success">Ürün Güncelle</button>
    </div>
    
}



